* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  text-align: center;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.site-header {
  margin-bottom: 180px;
}

main > * {
  padding-left: 33px;
  padding-right: 33px;
}

.logo--top {
  padding: 120px 70px 0px 70px;
  margin-bottom: 50px;
  width: fit-content;
}
h1 {
  font-size: 30px;
}
p {
  margin-bottom: 45px;
  line-height: 1.6;
  font-size: 16px;
}
.paragraph-snippets {
  margin-bottom: 70px;
}
.track-snippets {
  margin-bottom: 180px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 25px;
}
h1,
h2,
h3,
.site-footer {
  color: hsl(210, 10%, 33%);
  margin-bottom: 20px;
}

.download-ios,
.download-mac {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 15px;
  border-radius: 2rem;
  box-shadow: 0px 3px 2px rgba(36, 36, 36, 0.614);
  transition: background-color 0.3s;
}

.download-ios {
  background-color: hsla(171, 66%, 44%, 0.808);
}
.download-mac {
  background-color: hsla(233, 100%, 69%, 0.808);
}

.desktop-img,
.devices-img {
  width: 100%;
  margin-bottom: 50px;
}

.access-anywhere {
  margin-bottom: 60px;
}

.supercharge-workflow > div img {
  margin-bottom: 40px;
}

.supercharge-workflow {
  margin-bottom: 130px;
}

.featured-logos {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  justify-content: center;
  align-items: center;
}
.featured-logos > img {
  padding: 0px 95px 0px 95px;
  margin-bottom: 90px;
  max-width: 100vw;
}
.download-app {
  margin-bottom: 180px;
}
.logo--bottom {
  width: 19%;
}
footer {
  background-color: hsla(206, 17%, 92%, 0.557);
}
.site-footer > * {
  margin: 20px;
}
.footer-links > * {
  margin-bottom: 20px;
}
.footer-links {
  margin-bottom: 40px;
}
.footer-social > svg {
  margin: 10px;
}
svg {
  fill: #4c545c;
}

@media (min-width: 735px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 37px;
  }
  .site-header {
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site-header > p {
    width: 50%;
    font-size: 20px;
  }
  .button-container {
    display: inline-block;
    width: 100%;
  }
  .download-ios,
  .download-mac {
    display: inline-block;
    width: 15%;
    margin-right: 10px;
    padding: 15px;
  }
  .track-snippets {
    display: flex;
    flex-direction: column;
  }
  .track-snippets-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .track-snippets-top > p {
    width: 53%;
    font-size: 19px;
  }
  .snippets-img-features {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .snippet-img > img {
    width: 110%;
    position: relative;
    left: -285px;
  }
  .snippet-features {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: left;
    margin-top: -80px;
    margin-left: -100px;
  }
  .track-snippets {
    margin-bottom: 100px;
  }
  .access-anywhere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .access-anywhere > p {
    width: 50%;
    margin-bottom: 90px;
    font-size: 18px;
  }
  .devices-img {
    width: auto;
  }
  .supercharge-workflow {
    margin: 0 auto 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .supercharge-workflow > p {
    font-size: 19px;
    margin-bottom: 70px;
  }
  .all-features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 80%;
  }
  .all-features > .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }

  .feature > .img-feature {
    margin-bottom: 2rem;
    height: 2rem;
  }

  .featured-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  .featured-logos > img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding: 0px 40px 0px 40px;
  }
  .download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
  }
  .download-buttons {
    width: 100%;
  }
  .download-app > h3 {
    font-size: 37px;
  }
  .download-app > p {
    width: 50%;
    font-size: 19px;
  }
  .site-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 80px 0 80px;
    margin-bottom: 0;
  }
  .site-footer > * {
    margin: 0;
    padding: 20px 0 20px 0;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    grid-gap: 20px 50px;
  }

  .link2 {
    order: 4;
  }
  .link3 {
    order: 2;
  }
  .link4 {
    order: 5;
  }
  .link5 {
    order: 3;
  }
  .footer-links > p {
    padding-right: 10px;
    margin-bottom: 0;
  }

  .site-footer > img {
    position: relative;
    max-width: 4%;
    left: 60px;
  }
  .footer-social {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    font-weight: 600;
  }
}

.download-ios:hover {
  background-color: hsl(171, 66%, 44%, 0.7);
}
.download-mac:hover {
  background-color: hsl(233, 100%, 69%, 0.7);
}
.footer-links > *:hover {
  cursor: pointer;
  color: hsl(171, 87%, 43%);
}
.footer-social svg:hover {
  fill: hsl(171, 87%, 43%);
  cursor: pointer;
}
